* {
  box-sizing: border-box;
}

p {
  color: white;
  display: inline-block;
}

h1 {
  color: white;
  text-align: center;
  margin: 8px;
  caret-color: black;
}

/* Search Bar */
#restaurant-search {
  width: 100%;
  height: 50px;
  padding: 10px;
}

::placeholder {
  font-size: 16px;
}

.location {
  display: flex;
  justify-content: space-between;
}

/* Search Results List */
.search-fields {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  /* background-color: #C81465; */
  background-color: gray;
}

.search-list {
  background-color: white;
  height: auto;
  padding: 20px;
  z-index: 2;
}

.search-result {
  background-color: white;
  border-bottom: 1px gray;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-icon {
  width: 40px;
  height: 40px;
}

.restaurant-title {
  text-align: right; 
}

.addResult {
  height: 30px;
}

/* Yumlist */

.list-input {
  text-align: center;
  margin: 20px;
  width: 50%;
}

.list-details {
  width: 100%;
  display: block;
  margin-top: 10px;
  opacity: .3;
  text-align: center;
  padding: 5px;
  font-size: 1em;
}

.list-details:focus {
  opacity: .8;
  font-weight: bolder;
}

.list-details::placeholder {
  font-size: 1em;
}

.list-wrapper {
  /* background-color: #C81465; */
  background-color: gray;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.favorite-restaurant {
  background-color: white;
  border-radius: 2px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.favorite-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.favorite-left {
  flex: 1 0 auto;
  height: 150px;
  width: 150px;
  overflow: hidden;
}

.favorite-main {
  flex: 5 0 auto;
  padding: 10px;
  text-align: left;
}

.favorite-right {
  flex: 2 0 auto;
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
}

.favorite-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.save-list {
  width: 150px;
  height: 40px;
  font-size: 1em;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: 'rgba(0,0,0,.5)';
}

.modal {
  background-color: red;
  border-radius: 5;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 30;
};





